<h2>Canlı Hisse: @ViewBag.Symbol</h2>
<ul class="list-group">
    <li class="list-group-item">Güncel Fiyat: @ViewBag.Current</li>
    <li class="list-group-item">Önceki Kapanış: @ViewBag.Previous</li>
    <li class="list-group-item">Değişim: @ViewBag.Degisim</li>
</ul>
<a href="/Hisse/Index" class="btn btn-secondary mt-3">Geri</a>
